<h2>Cadastrar Novo Horário</h2>
<form action="/Medico/cadastrarHorarios" method="POST">
  <label>Dia:</label>
  <input type="date" name="dia" required><br>

  <label>Hora Inicial:</label>
  <input type="time" name="hora_inicial" required><br>

  <label>Hora Final:</label>
  <input type="time" name="hora_final" required><br>

  <button type="submit">Cadastrar Horário</button>
</form>
