<form method="post" action="/aluno/salvar">
<fieldset>
    <legend>Registrar alunos</legend>
    <label >Nome:</label>
    <input type="text" name="nome" required>
    <label>Telefone</label>
    <input type="number" name="telefone" required>
    <label for="">Email</label>
    <input type="text" name="email" required>
    <label for="">Primeita Nota</label>
    <input type="number" name="primeiraNota" required>
    <label for="">Segunda Nota</label>
    <input type="number" name="segundaNota" required>
    <label for="">Terceira Nota</label>
    <input type="number" name="terceiraNota" required>

    <button type="submit">Salvar</button>

</fieldset>
</form>